body{
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}
span {
  font-size: 30px;
}
#nav {
	width: 98%;
	float: left;
	margin: 0 3em 0 0;
	padding: 5px;
	list-style: none;
	background-color: #000000;
	border-bottom: 1px solid #4D4D4D; 
	border-top: 1px solid #4D4D4D;
	color: #ffffff;
	position:fixed;
}
#nav li {
	float: left;
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	border-right: 1px solid #4D4D4D;
	-webkit-transition: background 5s;
       -moz-transition: background 5s;
        -ms-transition: background 5s;
        -o-transition: background 5s;
        transition: background 5s;
        -webkit-transition: 5s;
       -moz-transition: 5s;
        -ms-transition: 5s;
        -o-transition: 5s;
        transition: 5s;
}
#nav li a:hover {
	color: #000;
	background-color: #F70000;
	-webkit-transition: background 1s;
       -moz-transition: background 1s;
        -ms-transition: background 1s;
        -o-transition: background 1s;
        transition: background 1s;
	-webkit-transition: 1s;
       -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
}
#content {
	padding-top: 50px;
}
code {
	font-family:"DejaVu Sans Mono",Monaco,Consolas,"Courier New",monospace;
	padding:2px 4px;
	font-size:90%;
	color:#c7254e;
	background-color:#f9f2f4;
	border-radius:4px;
	width:100%;
	height:100%;
}
